name: bla
on:
  push:
  workflow_dispatch:

jobs:
  bla:
    name: bla
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - brand: blubb
            branch: master
    steps:
    - run: |
        REGEX=$(echo "^${{ join(matrix.branch, '|') }}$")
        shopt -s nocasematch

        if [[ "${GITHUB_REF##*/}" =~ $REGEX ]];then
          echo "::set-output name=flag::true"
        else
          echo "::set-output name=flag::false"
        fi
      id: doit
      name: doit?
    
    - run: echo "CONDITION MATCHING"
      name: condition
      if: ${{ steps.doit.outputs.flag == 'true' }}
