name: test
on:
  create:
  delete:
  workflow_dispatch:
jobs:
  test:
    name: test-pr
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ludeeus/action-eventdata@master
    - run: |
        echo "${{ github.event_name }}"
        echo "${{ github.ref }}"
