name: test
on:
  create:
  delete:
  workflow_dispatch:
jobs:
  debug:
    name: debug
    runs-on: ubuntu-latest
    steps:
    - uses: ludeeus/action-eventdata@master

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "${{ github.event_name }}"
        echo "${{ github.ref }}"
    - uses: actions/checkout@v2
    - run: |
        echo "${{ github.event_name }}"
        echo "${{ github.ref }}"
