name: test
on:
  push:
    branches: ["test"]
  create:
    branches: ["test"]
  delete:
    branches: ["test"]
  pull_request:
    types: [closed]
  workflow_dispatch:
jobs:
  test:
    name: test-pr
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: |
        echo "${{ github.event_name }}"    
        echo "${{ github.base_ref }}"
        echo "${{ github.head_ref }}"
        echo "${{ github.ref }}"
