name: test
on:
  create:
  delete:
  workflow_dispatch:
jobs:
  trigger:
    name: trigger
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.event.ref_type }}"
      - run: echo "${{ github.ref }}"
