name: test
on:
  delete:
  workflow_dispatch:
jobs:
  trigger:
    name: trigger
    runs-on: ubuntu-latest
    if: ${{ github.event.ref_type != 'tag' }}
    steps:
      - run: echo "hallo ich bin der master"
      - run: echo event "${{ github.event_name }}"
      - run: echo event.ref_type "${{ github.event.ref_type }}"
      - run: echo event.ref"${{ github.event.ref }}"
      - run: echo ref "${{ github.ref }}"

  version:
    name: version
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ github.event.ref_type != 'tag' }}
    outputs:
      branch: ${{ steps.version.outputs.branch }}
    steps:
    - run: |
        if [ "${{ github.event_name }}" -eq "delete" ]; then
          BRANCH_REF=${{ github.event.ref }};
        else
          BRANCH_REF=${{ github.ref }};
        fi
        echo "::set-output name=branch::${BRANCH_REF##*/}" | tr '[:upper:]' '[:lower:]'
      id: version
