name: test
on:
  create:
  delete:
  workflow_dispatch:
jobs:
  trigger:
    name: trigger
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    steps:
      - run: echo "${{ github.ref }}"